.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
}

.imgBox button {
  padding: 5px 9px;
  border-radius: 50% !important;
  border: 1px solid !important;
  background: transparent;

  backdrop-filter: blur(5px);

  top: -13px;
  right: -10px;
}
