* {
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1200px;
}

/* container */
.container-default {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.flipCard {
  overflow: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.flipCard--front:hover .profile {
  scale: 1.1;
}

.flipCard--back {
  overflow-y: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flipCard--back .scroll {
  overflow-y: scroll;
  backface-visibility: hidden;
  height: 8rem;
}

.flipCard--back .scroll::-webkit-scrollbar {
  display: none;
}

.flipCard--back:hover .back {
  scale: 1.2;
}

.flipCard-images {
  border-radius: 20px;
  overflow: hidden;
}

.img-house {
  width: 100%;
  object-fit: cover;
}

.profile {
  transition: scale 300ms ease-in;
}

.img-profile {
  border-radius: 50%;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.flipCard {
  position: relative;
  height: 410px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: scale 300ms ease-in;
}

/* transition seconds */
:root {
  --transition-filter: 300ms;
}

/* buscador */
.sticky {
  top: 0;
  z-index: 100;
}

@media (min-width: 36em) {
  .sticky {
    position: sticky;
  }
}

.buscador {
  position: relative;
}

.buscador-boxOptions {
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(245, 244, 243, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.buscador-boxFilters {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-rows: 0fr;

  max-width: 40rem;
  width: 100%;
  margin-top: 1rem;

  transition: grid-template-rows var(--transition-filter) ease-in-out;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow: 0 0 10px rgba(90, 89, 89, 0.8);
  border-radius: 1rem;
  z-index: 1;
}

.buscador-boxFilters > div {
  overflow: hidden;
}

.buscador:has(.checkBoxOpen:checked) .buscador-boxFilters {
  grid-template-rows: 1fr;
}

.buscador-plus {
  border-radius: 0.5rem;
  /* border: 1px solid black; */
  transition: transform var(--transition-filter) ease-in-out;
}

/* carusel */
.scort-carusel {
  height: 440px;
}

.scort-swiper {
  height: 100%;
}

.scort-swiper .swiper-slide img {
  cursor: zoom-in;
}

.scort-swiper.mujerView .swiper-slide {
  background-color: rgba(76, 52, 52, 0.4);
  backdrop-filter: blur(30px);
}

.scort-swiper.mujerView .swiper-slide img {
  object-fit: contain;
}

.scort-pagination {
  height: 4rem;
  margin-top: 10px;
}

.scort-pagination .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
}

.scort-pagination .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scort-cart {
  border: 1px solid red;
  height: 400px;
  width: 100%;
}

.h-100 {
  height: 100%;
}
