/* container */
.container-default {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.flipCard {
  overflow: hidden;
}

.flipCard--front:hover .profile {
  scale: 1.1;
}

.flipCard--back {
  overflow-y: hidden;
  backface-visibility: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flipCard--back .scroll {
  overflow-y: scroll;  
  backface-visibility: inherit;
  height: 8rem;
}

.flipCard--back .scroll::-webkit-scrollbar {
  display: none;
}

.flipCard--back:hover .back {
  scale: 1.2;
}

.img-house {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.profile {
  transition: scale 300ms ease-in;
}

.img-profile {
  border-radius: 50%;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

.flipCard {
  position: relative;
  height: 410px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: scale 300ms ease-in;
}
